
{% extends "!layout.html" %}

{% block extrahead %}
<script type="text/javascript">

var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

</script>

<script type="text/javascript">

try {
var pageTracker = _gat._getTracker("UA-7333765-8");
pageTracker._trackPageview();
} catch(err) {}

</script>

  {{ super() }}
{% endblock %}

<center>

{% block sidebar1 %}
  {%- macro relbar_tiny %}
      <div class="related-tiny">
        <h3>{{ _('Navigation') }}</h3>
        <ul>
          {%- for rellink in rellinks %}
          <li class="right" {% if loop.first %}style="margin-right: 10px"{% endif %}>
            <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags }}"
               accesskey="{{ rellink[2] }}">{{ rellink[3] }}</a>
            {%- if not loop.first %}{{ reldelim2 }}{% endif %}</li>
          {%- endfor %}
          {%- block rootrellink_new %}
          <li><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>{{ reldelim1 }}</li>
          {%- endblock %}
          {%- for parent in parents %}
            <li><a href="{{ parent.link|e }}" accesskey="U">{{ parent.title }}</a>{{ reldelim1 }}</li>
          {%- endfor %}
          {%- block relbaritems %} {% endblock %}
        </ul>
      </div>
  {%- endmacro %}

  <div class="openobject-header">
    <table cellspacing="0" cellpadding="0" border="0" width="1004">
      <tbody>
        <tr>
           <td width="202" class="headerpic">
            <a alt="Open Object - Free Management Solution Logo" href="http://openerp.com">
              <img border="0" src="{{ pathto('_static/openerp.jpg', 1) }}"/>
            </a>
          </td>
         <td width="335" class="headerpic">
            <div align="right"><img src="{{ pathto('_static/headerpic.jpg', 1) }}" width="242" height="68" /></div>
          </td>
          <td width="440" valign="top" align="right">
            <table id="Table_01" height="37" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="greycurveleft" width="23px" height="37px"></td>
                <td width="107" class="headerlinkgrey">
                  <div class="headerlink" align="center"><a href="http://openerp.com"><strong>OpenERP</strong></a></div>
                </td>
                <td width="22px" height="37px" class="greyredcurve"></td>
                <td width="125" height="37" class="redline">
                  <div class="headerlink" align="center"><a href="http://ondemand.openerp.com"><strong>OnDemand</strong></a></div>
                </td>
                <td width="20" height="37" class="redcurve">&nbsp;</td>
                <td width="139" height="37" class="redline">
                  <div class="headerlink" align="center"><a href="http://openobject.com"><strong>OpenObject</strong></a></div>
                </td>
                <td width="16" height="37"><img src="{{ pathto('_static/curve.gif', 1) }}"/></td>
              </tr>
            </table>
            <p class="fortune">Best-selling book on enterprise management</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="openobject-navbar">
    <table width="1004" border="0" cellspacing="0" cellpadding="0" id="menu-header">
      <tr>
        <td width="230" id="menu-header" nowrap="nowrap">&nbsp;</td>
        <td id="menu-breadcrumb" nowrap="nowrap">
          {{ relbar_tiny() }}
        </td>
      </tr>
    </table>
  </div>

{{ sidebar() }}
{% endblock %}

{% block rootrellink %}
{% endblock %}

{#
{%- block relbar2 %}{{ relbar_tiny() }}{% endblock %}
#}
{%- block footer %}
  {%- macro relbar_tiny2 %}
      <div class="related-tiny">
        <h3>{{ _('Navigation') }}</h3>
        <ul>
          {%- for rellink in rellinks %}
          <li class="right" {% if loop.first %}style="margin-right: 10px"{% endif %}>
            <a href="{{ pathto(rellink[0]) }}" title="{{ rellink[1]|striptags }}"
               accesskey="{{ rellink[2] }}" class="bottom-nav-links" >{{ rellink[3] }}</a>
            {%- if not loop.first %}{{ reldelim2 }}{% endif %}</li>
          {%- endfor %}
          {%- block rootrellink_new_2 %}
          <li><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a>{{ reldelim1 }}</li>
          {%- endblock %}
          {%- for parent in parents %}
            <li><a href="{{ parent.link|e }}" accesskey="U">{{ parent.title }}</a>{{ reldelim1 }}</li>
          {%- endfor %}
          {#
          {%- block relbaritems %} {% endblock %}
          #}
        </ul>
      </div>
  {%- endmacro %}

{{relbar_tiny2()}}
{{super()}}
{% endblock %}

</center>

{#
  vi: ft=htmljinja
#}

